body{
	background-color: #FAF6E9;
}

h1{
	color: #A0C878;
	text-align: center;
}

.f{
	background-color: #FFFDF6;
	border-radius: 30px;
	display: grid;
	place-items: center;
}

input[type=button]{
	background-color: #DDEB9D;
	border-color: #A0C878;
	color: #A0C878;
	border-radius: 20px;
}

input[type=button]:hover{
	background-color: #A0C878;
	border-color: #DDEB9D;
	color: #DDEB9D;
	border-radius: 20px;
}

.datos{
	color: #A0C878;
	text-align: center;
}